@import "../../../src/scss/abstracts/variables";
@import "../../../src/scss/abstracts/mixins";

.why-it-works {
  &-block {
    margin-bottom: $space-inner-sm;
    overflow: hidden;

    @include media-up(lg) {
      margin-bottom: $space-section;
    }
  }

  &__inner {
    background: $surface-glass;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), $shadow-why-it-works;
    backdrop-filter: blur($blur-why-it-works);
    border-radius: $radius-xl;
    padding: 40px 20px;
    position: relative;
    z-index: 2;

    @include media-up(lg) {
      padding: 80px 40px;
    }

    @include media-down(md) {
      border-radius: $radius-m-mobile; // На мобайлі менший радіус
    }
  }

  &__title {
    text-align: center;
    margin-bottom: $space-title-to-content-m;
    font-size: $h1-size-mobile;
    line-height: $h1-lh-mobile;

    @include media-up(lg) {
      font-size: $h1-size-desktop;
      line-height: $h1-lh-desktop;
    }
  }

  &__grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;

    @include media-up(lg) {
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
    }
  }

  &__card {
    transition: transform 0.3s ease;
    padding: 0;
    background: $surface-glass;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), $shadow-why-it-works;
    border-radius: $radius-s;
    padding: 20px 20px 38px;
    backface-visibility: hidden;
    transform: translateZ(0);

    @include media-down(md) {
      padding-bottom: 32px;
    }

    &:hover {
      transform: translateY(-4px) translateZ(0);

      .why-it-works__card-icon {
        color: $brand-secondary;
        transform: scale(1.1);
      }
    }
  }

  &__card-icon {
    color: $brand-primary;
    margin-bottom: 20px;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-flex;
    align-items: center;
    padding: 15px;
    border-radius: 50%;
    background: linear-gradient(90.61deg, $brand-primary 0%, $brand-secondary 100%); // Синя заливка градієнтом
    box-shadow: inset 0 0 0 4px rgba(255, 255, 255, .1);

    svg {
      width: 30px;
      height: 30px;
    }
  }

  &__card-title {
    font-family: $font-body;
    font-size: $h3-size-mobile;
    margin-bottom: 20px;
    color: $color-white;

    @include media-up(lg) {
      font-size: $h3-size-desktop;
    }
  }

  &__card-text {
    font-size: $body-m-size-mobile;
    line-height: $body-m-lh-mobile;
    color: $color-gray;
    margin: 0;

    @include media-up(lg) {
      font-size: $body-m-size-desktop;
      line-height: $body-m-lh-desktop;
    }
  }
}